// Paige32.rc

// DO NOT USE DEV STUDIO TO EDIT THIS FILE
//

#ifdef APSTUDIO_INVOKED
#error DO NOT USE DEV STUDIO TO EDIT THIS FILE
#endif

#include "..\..\VersionBeg.inc"

VALUE "InternalName",     "Paige32\0"
#ifdef _DEBUG
VALUE "OriginalFilename", "PAIGE32D.DLL\0"
#else
VALUE "OriginalFilename", "PAIGE32.DLL\0"
#endif
VALUE "FileDescription",  "Eudora Editing Engine Library\0"
VALUE "Comments",         "Paige Library\0"

#include "..\..\VersionEnd.inc"
